body {
	font: 20px "Arial", sans-serif;

}
header {
	text-align: center;
}

.Game-Area {
	margin: 100px auto;
	height:624px;
	width: 624px;
	/*background: white;*/
	border: 20px solid blue;
	border-radius: 50px;
}
.Tic-tac-toe-box {
	height: 198px;
	width: 198px;
	border: 5px solid transparent;
	/*background: white;*/
}

.Tic-tac-toe-box:hover {
	border: 5px solid red;
}
.selected-O{
	height: 198px;
	width: 198px;
	border: 5px solid transparent;
}



.selected-O::after{

	height: 150px;
	width: 150px;
	border-radius: 100px;
	border: 20px solid green;
	/*background: white;*/
	content: '';
	position: absolute;
	/*top: 50px;*/
}

.selected-X{
	height: 198px;
	width: 198px;
	border: 5px solid transparent;
}



.selected-X::after{
	content:'';
    position:absolute;
    /*top:inherit;*/
	width:10px;
    height:190px;
    background-color:red;
    transform-origin:50% 50%;
    -webkit-transform:translateX(90px) rotate(45deg);
    -moz-transform:translateX(90px) rotate(45deg);
    transform: translateX(90px) rotate(45deg);
}

.selected-X::before{
	content:'';
    position:absolute;
    /*top:inherit;*/
	width:10px;
    height:190px;
    background-color:red;
    transform-origin:50% 50%;
    -webkit-transform:translateX(90px) rotate(-45deg);
    -moz-transform:translateX(90px) rotate(-45deg);
    transform: translateX(90px) rotate(-45deg);
}




.top {
	border-bottom: 5px solid black;
}
.middle {
	border-top: 5px solid black;	
	border-bottom: 5px solid black;	
}
.bottom{
	border-top: 5px solid black;
}

.left {
	float:left;
	border-right: 5px solid black;
}
.center {
	float:left;
	border-right: 5px solid black;
	border-left: 5px solid black;
}

.right{
	border-left: 5px solid black;
	float:left;
}

.clear {
	clear:both;
}



